*,*::after,*::after{box-sizing: inherit;}

html{
    height:100%; /*getting footer to bottom and keeping it mobile friendly*/
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100%; /*getting footer to bottom and keeping it mobile friendly*/
    background-color: #bb9a48;
}

.header, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 0;
    height: auto;
}

.header div{
    font-size: 105px;
}

.gridContainer{
    display: grid;
    user-select: none;  /*made my divs undraggble to ensure mouseup event fires even if a cell is dragged */
    width: 600px;
    height: 600px;   
    box-shadow:0.8em 0.8em 2em , -0.1em -0.1em 2em; 
}

.CellGrid{
    border: 1px solid grey;
}

.gridSideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 30px;
    width: 250px;
    height: 600px; ;
    padding: 2.5em;
    background-color: #9b8141;
    box-shadow:0.5em 0.5em 2em , -1px -1px 15px; 

}
.btn{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border: 2px solid;
    border-radius: 6px;
    background-color: #9b8141;
}

.btnOn{
    background-color: black;
    color: #9b8141;
}

.options{
    width: 100%;
}

input[type='range']{
    height: 25px;
    width:100%;
    background-color: #9b8141;
    outline: none;
    overflow: hidden;
    cursor: ew-resize;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: black;
    margin-top: -8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

input[type='range']::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid;
    border-radius: 50px;
    height: 10px;
   
}

.colourpick{
    width:50px;
    height:50px;
    overflow: hidden;
    border-radius:100%;
}
input[type='color']{
    width:100%;
    height:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    transform: scale(1.5);
}

.inputClr{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.cell:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 55px;
    margin-top: auto;
}

.fa-github{
    color: black;
    position: static;
    transition: 0.4s ease-in-out;
}
.fa-github:hover{
    transform: scale(1.2) rotate(360deg);   
}
